#btnPsSemua{
    border-radius: 10px;
}
#filterField{
    list-style-type: none;
    margin-left: -30px;
}
#filterField li{
    float: left;
}
#filterMenu{
    list-style-type: none;
    margin-left: -30px;
}
#filterMenu li{
    float: left;
}

#filterMenu  .active{
    background-color: #3445b4;
    border-color: #3445b4;
}
.btn-outline-primary{
    border-color: #3445b4;
    color: #3445b4;
}
.btn-outline-primary:hover{
    background-color: #3445b4;
    border-color: #3445b4;
}

#pillBtn li{
    float: none;
}
#pillBtn .active{
    border: none;
    background-color: transparent;
    color: #3445b4;
}
#dropdownMore .dropdown-toggle::after {
    display: none;
}
#frmFilter ul{
    margin-left: -30px;
}
#frmFilter ul li{
    list-style-type: none;
    float: left;
}
#contentHeader img{
    max-width: 150px;
}
#contentHeader .h3{
    font-weight: 500;
}
#contentHeader .h5{
    margin-top: -10px;
    color: #3445b4;
}
#img-detail{
    border-radius: 50%;
    max-width: 150px;
}


.radio-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.radio-item [type="radio"] {
	display: none;
}
.radio-item + .radio-item {
	margin-top: 15px;
}
.radio-item label {
	display: block;
	padding: 20px 60px;
	border: 2px solid rgb(211, 211, 211);
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	min-width: 250px;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	border: 2px solid #524eee;
	left: 19px;
	top: calc(50% - 12px);
}
.radio-item label:before {
	background: #524eee;
	height: 20px;
	width: 20px;
	left: 19px;
	top: calc(50% - 12px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
	border-color: #524eee;
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

#profil-head{
	background: linear-gradient(to right, #5a54f1, #201ba8);
	color: white;
}
.rounded-pill{
	background-color: #847ffa;
	color: white;
	width: fit-content;
}
.blocked ul li::marker{
	color: red;
}
.active ul li::marker{
	color: rgb(0, 241, 32);
}