#btnPsSemua{
    border-radius: 10px;
}
#filterField{
    list-style-type: none;
    margin-left: -30px;
}
#filterField li{
    float: left;
}
#filterMenu{
    list-style-type: none;
    margin-left: -30px;
}
#filterMenu li{
    float: left;
}

#filterMenu  .active{
    background-color: #3445b4;
    border-color: #3445b4;
}
.btn-outline-primary{
    border-color: #3445b4;
    color: #3445b4;
}
.btn-outline-primary:hover{
    background-color: #3445b4;
    border-color: #3445b4;
}

#pillBtn li{
    float: none;
}
#pillBtn .active{
    border: none;
    background-color: transparent;
    color: #3445b4;
}
#dropdownMore .dropdown-toggle::after {
    display: none;
}
#frmFilter ul{
    margin-left: -30px;
}
#frmFilter ul li{
    list-style-type: none;
    float: left;
}
#contentHeader img{
    max-width: 150px;
}
#contentHeader .h3{
    font-weight: 500;
}
#contentHeader .h5{
    margin-top: -10px;
    color: #3445b4;
}
#img-detail{
    border-radius: 50%;
    max-width: 150px;
}
