@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#footer{
    background-color: #0064D3;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
    font-family: 'Montserrat','sans-serif';
}
#left ul li{
    list-style-type: none;
    float: left;
    color: white;
    left: 0;
}
#foot-keterangan{
    margin-top: 1rem;
}
#footer-logo{
    width: 200px;
}
#left h4{
    font-size: 20px;
}
#left p{
    width: 95%;
}
#right h4{
    font-size: 20px;
}
@media screen and (max-width:500px) {
    
    #foot-keterangan{
        margin-top: 1rem;
        font-size: 10px;
    }
    #footer-logo{
        width: 100px;
    }
    #left h4{
        font-size: 10px;
    }
    #left p{
        width: 98%;
        text-align: justify;
    }
    #right{
        margin-top: 10px;
    }
    #right h4{
        font-size: 10px;
    }
    #right p{
        font-size: 10px;
    }
}