#sidebar{
    margin-top: 3.5%;
    background-color: white;
}
.menu-sidebar ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
.menu-sidebar ul li a{
    text-decoration: none;
    color: black;
}
.menu-sidebar ul li a img{
    width: 20px;
    margin-right: 10px;
}
.sidebar-header{
    text-align: left;
    margin-left: 30px;
}
.sidebar-header h4{
    font-weight: 600;
}
.sidebar-header h4 i{
    color: rgb(0, 145, 255);
}
.sidebar-header span{
    color: #FF6B00;
}
@media screen and (max-width : 500px) {
    #name-sidebar{
        font-size: 12px;
    }
}